<!DOCTYPE html>

<html>
<head>
    <title></title>
  <style>
        button
         {
          font-size: 40px;
          padding: 10px;
          border-radius: 10px;
         margin: 10px;
      <div style=“position:relative; right:80px; top:2px;”>
      
           </style>
<body>
     <button>LOGIN MENU</button>
</body>

</html>
