body{
     main{		width:100%;		height:100vh;		position:relative;		overflow:hidden;		background:linear-gradient(to right,#9c27b0,#8ecdff);
}

h1{
    background-color: tomato;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
}

P{
     background-color: powderblue;
     padding: 10px; 20px 10px 20px;
}

h2{
     background-color: powderblue;
     padding: 10px; 20px 10px 20px;
}


h3{
     background-color: blue;
     padding: 10px; 20px 10px 20px;
}


h4{
     background-color: orange;
     padding: 10px; 20px 10px 20px;
}

h5{
     background-color: mediumseagreen;
     padding: 10px; 20px 10px 20px;
}

h6{
     background-color: mediumseagreen;
     padding: 10px; 20px 10px 20px;
}

}
